<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.88.1" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title><%= title %></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <style>
      body {
        min-height: 80rem;
        padding-top: 4.5rem;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Campanha Sapios</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
<main class="container">
    <div class="bg-light p-5 rounded">
        <!-- <p>Ligar/Desligar Campanha</p>
            <div class="form-check form-switch">
                <!-- <label class="form-check-label" for="flexSwitchCheckChecked"></label> -->
        <!-- <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>

            <hr> -->

        <div>
            <h3>Upload de arquivo CSV</h3>
            <form class="d-flex mt-4" method="POST" enctype="multipart/form-data" action="/upload">
                <!-- <input type="file" name="file" id="file">
                    <input type="submit" value="upload"> -->

                <div class="mb-3">
                    <!-- <label for="formFile" class="form-label">Upload de arquivo CSV</label> -->
                    <input class="form-control" name="file" type="file" id="formFile" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" style="margin-left: 50px">
                        Enviar base
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

    <!-- <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        formData.append("file", )
        axios.post("http://localhost:4000/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          })
          .then((res) => {
            location.href("http://localhost:5555/upload")
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script> -->
  </body>
</html>
